* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --purple: #6415ff;
  --drkblue: #243e63;
  --white: #f7fafc;
  --offwhite: #e5e7eb;
}

body {
  overflow-x: hidden;
}

.no-cursor {
  cursor: not-allowed;
}

.row {
  width: calc(100% - 4rem);
  max-width: 1200px;
  margin: 0 auto;
  padding: 6rem 0;
}

a {
  position: relative;
  text-decoration: none;
  color: var(--drkblue);
  transition-duration: 0.3s;
}

nav a:hover {
  color: var(--purple);
}

h1 {
  color: #1a202c;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.25;
}

h2 {
  font-size: 3rem;
  color: var(--drkblue);
  margin: 24px 0;
  font-weight: 900;
}

h5 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
}

.purple-text {
  color: var(--purple);
}

.heavy {
  font-weight: 900;
}

/* START --- UNDERLINE EFFECT ON NAV BAR BUTTONS */

.nav__link::after {
  content: "";
  position: absolute;
  background-color: var(--purple);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -8px;
  transition-duration: 0.3s;
}

.nav__link:hover::after {
  width: 100%;
}

/* END --- UNDERLINE EFFECT ON NAV BAR BUTTONS */

/*      NAV     */

nav {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 4rem);
  max-width: 1200px;
  margin: 2rem auto 1rem;
}

.nav__links {
  display: flex;
  list-style-type: none;
  align-self: center;
}

.nav__link {
  margin: 0 1.5rem;
  font-weight: bold;
  font-size: 0.875rem;
  letter-spacing: 0.025em;
}

.nav__link--primary {
  border: 2px solid var(--purple);
  background-color: var(--purple);
  border-radius: 50px;
  padding: 8px 24px;
  color: white;
  transition-duration: 0.3s;
}

.nav__link--primary:hover {
  color: white;
  background-color: #5011cc;
}

.treact__logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
}

.treact__img {
  width: 50px;
  padding-right: 10px;
}

/*    START BURGER MENU HERE    */

.btn__menu {
  background-color: transparent;
  border-style: none;
  text-align: center;
  font-size: 20px;
  color: var(--purple);
  display: none;
  cursor: pointer;
}

.menu__backdrop {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  border: 1px solid var(--offwhite);

  top: 20px;
  left: 10px;
  right: 10px;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

@keyframes bounce {
  0% {
    opacity: 0.4;
    transform: translateX(500px);
  }
  30% {
    opacity: 0.6;
    transform: translateX(-80px);
  }

  60% {
    opacity: 0.8;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.menu__list {
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 0.025em;
  list-style-type: none;
  margin: 8px 0;
  padding-bottom: 4px;
}

.drop__button {
  color: var(--white);
  background-color: var(--purple);
  border-radius: 9999px;
  font-size: 1.125rem;
  padding: 0.75rem 2rem;
  font-weight: 600;
  margin: 8px 0;
}

.drop__button--link {
  color: var(--white);
}

.drop__button--link:hover {
  color: var(--white);
  transition-duration: 0.3s;
}

.drop__button:hover {
  color: var(--white);
  background-color: #3c0d99;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px 16px;
}

.btn__menu--close {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  padding: 0.5rem;
  color: var(--purple);
  cursor: pointer;
}

/*      ANIMATIONS       */
@keyframes from-the-left-one-time {
  from {
    opacity: 0;
    transform: translateX(-80%);
  }
}
.from-the-left-one-time {
  animation: from-the-left-one-time 0.8s;
}

.from-the-right {
  opacity: 0;
  transform: translateX(80vw);
  transition: all 0.8s;
}

@keyframes from-the-right {
  from {
    opacity: 0;
    transform: translateX(80vw);
  }
}
.from-the-right.scroll-animation-show {
  opacity: 1;
  transform: translateX(0);
  animation: from-the-right ease-in-out;
}

.from-the-left {
  opacity: 0;
  transform: translateX(-80vw);
  transition: all 0.8s;
}

@keyframes from-the-left {
  from {
    opacity: 0;
    transform: translateX(-80vw);
  }
}
.from-the-left.scroll-animation-show {
  opacity: 1;
  transform: translateX(0);
  animation: from-the-left ease-in-out;
}

/*      LANDING       */

.landing__container {
  display: flex;
}
.img-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.customers--wrapper {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.landing-page__girl-img--wrapper {
  width: 60%;
}

.landing-page__girl-img {
  width: 100%;
}

.customers__img {
  width: 100%;
  opacity: 0.5;
  padding-right: 4rem;
}

.landing__page--para {
  max-width: 475px;
  color: var(--drkblue);
  line-height: 1.5;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 1.125rem;
}

.trusted__customers--para {
  font-size: 12px;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: #a0aec0;
  padding-bottom: 24px;
  padding-top: 24px;
}

/*      INPUT AREA      */

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #cbd6e2;
}

input:hover {
  border-color: #a0aec0;
}

input:focus {
  border-color: var(--purple);
}

.input--wrapper {
  position: relative;
  max-width: 28rem;
  text-align: center;
}

.input--wrapper input {
  padding: 1.25rem 12rem 1.25rem 2rem;
  line-height: 1.5;
}

input {
  border-radius: 9999px;
  width: 100%;
  font-weight: 500;
  transition-duration: 300ms;
  font-size: 16px;
  border: 0 solid var(--offwhite);
  border-width: 2px;
  outline: none;
}

.btn {
  position: absolute;
  cursor: not-allowed;
  border-radius: 9999px;
  color: var(--white);
  background-color: var(--purple);
  border-style: none;
  font-weight: 700;
  font-size: 16px;
  padding: 1rem 0;
  margin: 0.5rem 0.5rem 0.5rem 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 10rem;
  line-height: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.3s;
}

.btn:hover {
  background-color: #3c0d99;
}

.landing__side-img {
  pointer-events: none;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -10;
  height: 16rem;
  width: 16rem;
  transform: translate(-55%, 5%);
  opacity: 0.05;
}

/*        FEATURES        */

.features__side-img {
  pointer-events: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 16rem;
  transform: translate(6rem, 12rem);
  opacity: 0.25;
}

span {
  font-weight: 700;
  letter-spacing: 0.1em;
}

.features__title--para {
  color: #7c8ba1;
  max-width: 620px;
  margin-bottom: 2rem;
  font-weight: 500;
  line-height: 1.625;
}

.features__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
}

.features__title--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  padding-bottom: 36px;
}

.services {
  display: flex;
  flex-wrap: wrap;
}

.service {
  display: flex;
  width: calc(100% / 3);
  justify-content: center;
}

.service__img {
  border: 1px solid var(--offwhite);
  border-radius: 9999px;
  padding: 1.25rem;
}

.service__info {
  padding-left: 16px;
  padding-bottom: 2rem;
}

.service__info--title {
  letter-spacing: 0.025rem;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
  color: var(--drkblue);
}

.service__info--para {
  letter-spacing: 0.025rem;
  font-weight: 500;
  line-height: 2;
  color: #7c8ba1;
  margin-top: 8px;
  max-width: 235px;
}

/*          QUALITY WORK        */

.quality__info--para {
  color: #7c8ba1;
  font-weight: 500;
  line-height: 1.5;
  font-size: 1.125rem;
}

.quality__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quality__info--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}

.quality__img--wrapper {
  position: relative;
  width: 45%;
}

.quality__img-grid {
  position: absolute;
  fill: var(--purple);
  height: 80px;
  right: 0;
  bottom: 0;
  transform: matrix(1, 0, 0, 1, 40, 40);
  z-index: -10;
}

.quality__img {
  width: 100%;
  border: 1px solid var(--offwhite);
  border-radius: 5px;
}

.button__1 {
  border-radius: 9999px;
  color: var(--white);
  background-color: var(--purple);
  border-style: none;
  font-weight: 700;
  width: 150px;
  padding: 12px 8px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition-duration: 0.3s;
}

.button__1:hover {
  color: white;
  background-color: #3c0d99;
  cursor: not-allowed;
}

/*          STEPS       */

.steps--wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.steps__info--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin-left: 4rem;
}

.steps__rdr--wrapper {
  display: flex;
  flex-direction: column;
}

.rdr {
  display: flex;
  padding-bottom: 30px;
}

.steps__number {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 1;
  color: #cbd5e0;
  padding-right: 30px;
}

.steps__title {
  line-height: 1;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--drkblue);
  padding-bottom: 16px;
}

.steps--para {
  color: #718096;
  line-height: 2;
  max-width: 350px;
  font-size: 0.875rem;
}

.steps__img--wrapper {
  display: flex;
  align-items: center;
  width: 50%;
  position: relative;
  height: fit-content;
  align-self: center;
}

.steps__img {
  width: 100%;
}

.steps__svg-dots {
  height: 10rem;
  width: 10rem;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 0.15;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -10;
  fill: currentcolor;
  color: var(--purple);
}

/*        VALUES        */

.values__container {
  display: flex;
}

.values__info--wrapper {
  display: flex;
  flex-direction: column;
  width: 44%;
}

.principles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.values__img--wrapper {
  width: 55%;
}

.values__img {
  width: 100%;
}

.values__info--para {
  color: #7c8ba1;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 24px;
  font-size: 1.125rem;
}

.principle--inner_wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}

.principle--outer_wrapper {
  display: flex;
  flex-direction: column;
}

.principle--para {
  display: flex;
  color: #718096;
  line-height: 1.625;
  max-width: 275px;
}

.principle__title {
  line-height: 1;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--drkblue);
  padding-left: 4px;
}

.briefcase {
  width: 50px;
}

.dollar {
  width: 50px;
}

/*        PRICING       */

.pricing__side-img {
  pointer-events: none;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -10;
  height: 16rem;
  width: 16rem;
  transform: translate(-50%, 50%);
  opacity: 0.25;
}

.pricing__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.pricing__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.pricing__info--para {
  color: #7c8ba1;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
  max-width: 550px;
}

.business__card {
  background-image: linear-gradient(135deg, #4c51bf 0%, #667eea 100%);
  width: calc(90% / 3);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.card__title {
  font-weight: 700;
  font-size: 1.25rem;
  padding-bottom: 16px;
}

.card__price {
  font-size: 3rem;
  padding-bottom: 16px;
}

.card__top,
.card__middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__top {
  padding: 2rem 0;
}

.business__card .card__top {
  margin-top: 10px;
}

.card__middle {
  border-top: 2px solid #667eea;
  border-bottom: 2px solid #667eea;
  padding: 2rem;
}

.main__feature {
  font-size: 1.25rem;
  text-align: center;
}

.feature {
  font-weight: normal;
  margin-top: 20px;
  letter-spacing: 0;
  font-weight: 500;
}

.card__bottom {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: var(--white);
  color: var(--purple);
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  font-weight: 700;
  padding: 1rem 0;
  width: 50%;
  transition-duration: 0.3s;
}

.card__button:hover {
  background-color: #e2e8f0;
  color: #460fb3;
  transform: translate(1px, -1px);
  transition-duration: 300ms;
  box-shadow: 0 20px 25px -5px #0000001a, 0 10px 10px -5px #0000000a;
}

.personal__card,
.enterprise__card {
  width: calc(90% / 3);
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  --personal__card-fade: linear-gradient(115deg, #38b2ac 0%, #81e6d9 100%);
  --enterprise__card-fade: linear-gradient(115deg, #f56565 0%, #feb2b2 100%);
  background-color: #fff;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.personal__card .card__monthly,
.enterprise__card .card__monthly {
  color: #a0aec0;
}

.personal__card .feature,
.enterprise__card .feature {
  color: #718096;
}

.personal__card .card__middle,
.enterprise__card .card__middle {
  border-top: 2px solid var(--offwhite);
  border-bottom: 2px solid var(--offwhite);
}

.card__top-border {
  width: calc(100% + 2px);
  margin: -1px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.personal__card .card__top-border {
  background: var(--personal__card-fade);
}

.enterprise__card .card__top-border {
  background: var(--enterprise__card-fade);
}

.personal__card .card__button {
  background: var(--personal__card-fade);
  color: white;
}

.enterprise__card .card__button {
  background: var(--enterprise__card-fade);
  color: white;
}

/*        TESTIMONIALS        */

.testimonial__container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.testimonial__info--wrapper {
  width: 45%;
}

.testimonial__img--wrapper {
  width: 50%;
  display: flex;
}

.testimonial__img {
  width: 100%;
}

.rating {
  color: #f1ac54;
  margin-top: 2rem;
  margin-bottom: 16px;
}

.TwoColumnWithImageAndRating__StarIcon {
  margin-right: 0.25rem;
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  fill: currentcolor;
}

.person {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.person__info--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.person__description--wrapper {
  padding-left: 16px;
}
.title__font {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--drkblue);
}

.title__font--title {
  font-weight: 500;
  color: #7c8ba1;
}

.person__img {
  border-radius: 9999px;
  overflow: hidden;
  width: 80px;
}

.person--para {
  margin-top: 1rem;
  line-height: 1.625;
  font-weight: 500;
  color: #4a5568;
}

.person__button--wrapper {
  display: flex;
  align-items: center;
}

.arrow__left,
.arrow__right {
  width: 25px;
}

.arrow__left {
  transform: rotate(180deg);
}

.button__left,
.button__right {
  padding: 13px 12px 12px;
  border-radius: 9999px;
  background-color: #edf2f7;
  transition-duration: 0.3s;
}

.button__left:hover,
.button__right:hover {
  background-color: #e2e8f0;
}

.divider {
  border: 1px solid var(--offwhite);
  outline: var(--offwhite);
  border-top-width: 25px;
  margin: 0 8px;
}

/*          FAQ           */

.FAQ__info--wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 3rem;
}

.FAQ--para {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625;
  color: #7c8ba1;
  max-width: 550px;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 1.25rem auto 0;
  color: #2d3748;
  background-color: #edf2f7;
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  transition-duration: 0.3s;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
  cursor: pointer;
}

.banner:hover {
  background-color: #e2e8f0;
}

.banner__img {
  width: 15px;
}

/*          GET STARTED CONTACT US          */

.getstarted__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--purple);
  border-radius: 10px;
  padding: 6rem 2rem;
}

.getstarted__text {
  color: var(--white);
  font-size: 1.875rem;
  font-weight: 700;
  max-width: 400px;
  line-height: 1.5;
  width: 50%;
  max-width: 32rem;
}

.button__getStarted,
.button__contact {
  border-radius: 9999px;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.025em;
  transition-duration: 0.3s;
  border: 1px solid var(--offwhite);
  color: #edf2f7;
  background-color: transparent;
  margin-right: 2rem;
  padding: 20px 40px;
  cursor: not-allowed;
}
.button__getStarted {
  background-color: #f56565;
  border-color: transparent;
}

.button__getStarted:hover {
  background-color: #e53e3e;
  border-color: transparent;
}

.button__contact:hover {
  background-color: var(--white);
  color: var(--purple);
  border-color: var(--purple);
}

.button__contact {
  margin-right: 0;
}

/*         footer          */

footer {
  background-color: var(--purple);
  width: 100%;
  padding: 6rem 2rem;
  margin-top: 6rem;
}

.footer__container {
  width: calc(100% - 4rem);
  max-width: 1200px;
  margin: 0 auto;
}

.links {
  display: flex;
  flex-wrap: wrap;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 5);
}

.link__title {
  padding-bottom: 1rem;
}

.link__sublink {
  color: var(--white);
  padding-top: 0.875rem;
  font-size: 0.875rem;
  border-bottom: 2px solid transparent;
}

.link__sublink:hover {
  border-bottom: 2px solid;
}

.footer__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo--wrapper {
  display: flex;
  align-items: center;
}

.footer__logo {
  width: 2rem;
}

.footer_word {
  text-transform: none;
  font-size: 1.25rem;
  margin-left: 8px;
}

.footer--para {
  font-size: 1rem;
  color: #cbd5e0;
}

.footer__buttons--wrapper {
  display: flex;
  align-items: center;
}

.footer__buttons--wrapper i {
  color: #2d3748;
  width: 16px;
  height: 16px;
}

.social--button {
  display: flex;
  align-items: center;
  margin-right: 36px;
  padding: 0.5rem;
  margin-right: 1rem;
  cursor: pointer;
  background-color: var(--white);
  border-radius: 9999px;
  transition-duration: 0.3s;
}
.social--button svg {
  height: 1rem;
  width: 1rem;
}
.social--button:hover {
  background-color: #cbd5e0;
}

.social--button:last-child {
  margin-right: 0;
}

.footer__divider {
  display: flex;
  margin: 64px 0;
  border: 1px solid #742cff;
  margin-left: 5%;
  margin-right: 5%;
}

/*    @media Medium     SMALL PHONES TABLETS LARGE SMARTPHONES */
@media (max-width: 768px) {
  /*   @media Medium     header          */

  .menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
    animation-name: bounce;
    animation-duration: 600ms;
  }

  .light-menu-icon {
    height: 1.5rem;
    width: 1.5rem;
  }

  .light-menu-close-icon {
    height: 2rem;
    width: 2rem;
  }

  .nav__links {
    display: none;
  }

  .btn__menu {
    display: block;
  }

  .landing__container {
    flex-direction: column;
    align-items: center;
  }

  .customers__inner--wrapper h1 {
    font-size: 1.875rem;
  }

  .customers--wrapper {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .customers__inner--wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .landing__page--para {
    max-width: 500px;
  }

  .input--wrapper input {
    padding: 20px 120px 20px 2rem;
  }

  .input--wrapper .btn {
    padding: 1.5rem 0;
  }

  .landing-page__girl-img--wrapper {
    margin-top: 24px;
    width: 80%;
  }

  /*    @media Medium     features         */

  .services {
    margin: 0 auto;
  }

  .service {
    width: 50%;
  }

  .service__img {
    margin-top: 16px;
  }

  .features__title--wrapper h2 {
    font-size: 2.25rem;
  }

  /*     @media Medium     QUALITY           */

  .quality__info--wrapper h2 {
    font-size: 2.25rem;
  }

  .quality__img--wrapper {
    width: 50%;
    margin: auto 0;
  }

  .steps__svg-dots {
    height: 5rem;
    width: 5rem;
  }

  /*      @media Medium    VALUES          */

  .principles {
    flex-direction: column;
  }

  .values__img--wrapper {
    margin: auto 0;
  }

  /*      @media Medium     PRICING         */

  .pricing__title {
    max-width: 600px;
    text-align: center;
  }

  .business__card,
  .personal__card,
  .enterprise__card {
    margin: 0 auto;
    width: 55%;
  }

  .business__card,
  .personal__card {
    margin-bottom: 64px;
  }

  /*      @media Medium      TESTIMONIALS          */

  .testimonial__img--wrapper {
    margin: auto 0;
  }

  .testimonial__info--wrapper h2 {
    font-size: 2.25rem;
    text-align: center;
  }

  /*    @media Medium     Get Started           */

  .getstarted__container {
    flex-direction: column;
  }

  .getstarted__text {
    margin-bottom: 24px;
    text-align: center;
    font-size: 1.875rem;
    max-width: 500px;
  }
}

/*    @media Small    SMALL PHONES            */
@media (max-width: 550px) {
  .btn {
    position: relative;
    width: 100%;
  }

  .service {
    width: 100%;
    justify-content: center;
  }

  .input--wrapper input {
    padding-right: 0;
  }

  /*     @media Small     QUALITY          */

  .quality__container {
    flex-direction: column-reverse;
  }

  .quality__img--wrapper {
    width: 90%;
    margin: 0 auto;
  }

  .quality__info--wrapper {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .quality__info--wrapper span {
    margin-top: 40px;
  }

  .quality__info--wrapper h2 {
    font-size: 2.25rem;
  }

  .quality__info--para {
    font-size: 0.875rem;
    margin-bottom: 8px;
  }

  /*    @media Small     STEPS           */

  .steps--wrapper {
    flex-direction: column-reverse;
  }

  .steps__img--wrapper {
    width: 90%;
    margin: 0 auto;
  }

  .steps__info--wrapper {
    width: 90%;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    margin-left: 2rem;
  }

  .steps__info--title {
    font-size: 1.875rem;
  }

  .steps__number {
    padding-right: 0;
  }

  .steps__title {
    margin-top: 20px;
  }

  .rdr {
    flex-direction: column;
    align-items: center;
  }

  .steps--para {
    max-width: 375px;
  }

  /*    @media Small        VALUES            */

  .values__container {
    flex-direction: column-reverse;
  }

  .values__img--wrapper {
    width: 90%;
    margin: 0 auto;
  }

  .values__info--wrapper {
    width: 95%;
    align-items: center;
    text-align: center;
    margin: 3rem auto 0 auto;
  }

  .values__info--title {
    font-size: 1.875rem;
  }

  .principle--inner_wrapper {
    justify-content: center;
  }

  .button__1 {
    margin-top: 0;
  }

  .principle--outer_wrapper:last-child {
    margin-top: 16px;
  }

  /*     @media Small       Pricing           */

  .pricing__title {
    font-size: 2.25rem;
  }

  .pricing__cards {
    flex-direction: column;
    flex-wrap: unset;
  }

  .pricing__info--para {
    font-size: 0.875rem;
    text-align: center;
  }

  .business__card,
  .personal__card,
  .enterprise__card {
    width: 75%;
  }

  /*     @media Small      Testimonials           */

  .testimonial__container {
    flex-direction: column-reverse;
  }

  .testimonial__img--wrapper {
    width: 90%;
    margin: 0 auto;
  }

  .testimonial__info--wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin: 2rem auto 0 auto;
  }

  .person--para {
    text-align: center;
  }

  .person__info--wrapper {
    flex-direction: column;
  }

  .person {
    flex-direction: column;
  }

  .person__button--wrapper {
    margin-top: 2rem;
    justify-content: center;
  }

  /*     @media Small       FAQ           */

  .FAQ__info--wrapper h2 {
    font-size: 2.25rem;
  }

  .FAQ--para {
    font-size: 0.875rem;
  }
  .banner {
    padding-right: 50px;
  }

  /*     @media Small      Get Started        */

  .getstarted__container {
    padding: 80px 0;
  }

  .getstarted__text {
    font-size: 1.5rem;
    max-width: 400px;
  }

  .getstarted__button--wrapper {
    display: flex;
    flex-direction: column;
  }

  .button__getStarted,
  .button__contact {
    padding: 12px 24px;
  }

  .button__getStarted {
    margin-right: 0;
    margin-bottom: 16px;
    font-size: 0.875rem;
  }

  /*     @media Small     FOOTER          */

  .link {
    width: calc(100% / 4);
    font-size: 0.875rem;
  }

  .link:last-child {
    margin-top: 24px;
  }

  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__info {
    flex-direction: column;
  }

  .footer--para {
    padding: 24px 0;
  }
}
